.allcardcontainer {
    padding: 3.75em 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}

.cardContainer {
    background-color: white;
    width: max-content;

    height: 25em;
    padding: 1em 1em 4em 2em;
    border-radius: 1em;
    width: 28em;

}

.double {
    width: 41em !important;
}

.iconholder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cardvert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.allstatholder {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* width: 80%; */
}

.statholder {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 20px;


}

.statnum {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -5px;
}